connector.name=snowflake
connection-url=jdbc:snowflake://rzwknew-gv59173.snowflakecomputing.com
connection-user=22024503
connection-password=
snowflake.account=rzwknew-gv59173
snowflake.database=PATIENTS
snowflake.warehouse=COMPUTE_WH